# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [3]:
# you must populate this dict with the schools required -> try talking to the teaching team about this

schools = {
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'Udacity': 11118,
'academia-de-codigo':10494,
'codeworks':10650,
'school-of-it':11006,
'le-wagon':10868
}
import re
import pandas as pd
from pandas.io.json import json_normalize
import requests
def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# could you write this as a list comprehension? ;)
comments = []
for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))
comments = pd.concat(comments)

ironhack
app-academy
springboard
Udacity
academia-de-codigo
codeworks
school-of-it
le-wagon

In [ ]:
comments.

,anonymous,body,comments,createdAt,curriculum,graduatingYear,hostProgramName,id,isAlumni,jobSupport,jobTitle,name,overall,overallScore,program,queryDate,tagline,user,review_body,school
0,False,"<span class=""truncatable""><p>(Por favor copie ...",[],10/13/2020,5.0,2020.0,None,269343,False,3.0,Unemployed,Felipe,2.0,3.3,UX/UI Design Bootcamp,2020-10-13,"UX UI Iron Hack Sao Paulo, be careful before y...",{'image': None},(Por favor copie e cole no google tradutor se ...,ironhack
1,False,"<span class=""truncatable""><p>A truly amazing e...",[],10/7/2020,5.0,2020.0,None,269201,False,5.0,UI Designer,Ozzie Zamora,5.0,5.0,UX/UI Design Part-Time,2020-10-07,UX/UI Design Part-Time | Miami,{'image': None},"A truly amazing experience, to be honest. I wa...",ironhack
2,False,"<span class=""truncatable""><p>I use to work in ...",[],10/6/2020,5.0,2020.0,None,269141,False,5.0,Data Analyst,Sacha Dollé,5.0,5.0,Data Analytics Bootcamp,2020-10-06,"Great bootcamp, great team, great learning",{'image': None},I use to work in advertisement and decided to ...,ironhack
3,False,"<span class=""truncatable""><p></p><p>« On m’ava...",[],10/6/2020,5.0,2020.0,None,269133,False,5.0,Product Designer,Calypso Redor,5.0,5.0,,2020-10-06,Une superbe expérience,{'image': None},« On m’avait prévenu de ce que voulait dire « ...,ironhack
4,False,"<span class=""truncatable""><p></p><p>I am very ...",[],10/5/2020,5.0,2020.0,None,269115,False,3.0,Product Designer,Linda Mai Phung,5.0,4.3,,2020-10-05,"Intensive as promised, supportive teachers and...",{'image': None},I am very satisfied of my training this summer...,ironhack
5,False,"<span class=""truncatable""><p>I am delighted to...",[],10/5/2020,4.0,2020.0,None,269104,False,4.0,,Alice Prigent,5.0,4.3,Web Development Bootcamp,2020-10-05,A unique and enriching experience!,{'image': None},I am delighted to have been able to realize a ...,ironhack
6,False,"<span class=""truncatable""><p>I decided to foll...",[],10/5/2020,5.0,2020.0,None,269103,False,NaN,,Manon Morgaut,5.0,5.0,Web Development Bootcamp,2020-10-05,Intensive but definitely worth it,{'image': None},I decided to follow Ironhack's program in the ...,ironhack
7,False,"<span class=""truncatable""><p>I had no experien...",[],10/5/2020,4.0,2020.0,None,269102,False,5.0,UX UI Designer,Rohini,5.0,4.7,UX/UI Design Bootcamp,2020-10-05,A very complete and Interesting Experience eve...,{'image': None},I had no experience in the field of UX UI Desi...,ironhack
8,False,"<span class=""truncatable""><p>I attended Ironha...",[],10/2/2020,5.0,2020.0,None,269045,False,5.0,,Fanny Sabin,5.0,5.0,Web Development Bootcamp,2020-10-02,"Amazing experience, highly recommended !",{'image': None},I attended Ironhack FullTime Web Developement ...,ironhack
9,False,"<span class=""truncatable""><p>I has been years ...",[],10/1/2020,5.0,2020.0,None,269020,False,5.0,CoFounder of Botcave SAS,Charlotte Noguer,5.0,5.0,Web Development Bootcamp,2020-10-01,Awesome Bootcamp,{'image': None},I has been years since I worked in the tech en...,ironhack
10,False,"<span class=""truncatable""><p>I really enjoyed ...",[],10/1/2020,5.0,2020.0,None,269010,False,4.0,UX designer,Orane Lefevre,5.0,4.7,UX/UI Design Bootcamp,2020-10-01,"Great experience, you learn a lot in those 10 ...",{'image': None},I really enjoyed my experience at Ironhack Par...,ironhack
11,True,"<span class=""truncatable""><p>Friendly environm...",[],9/30/2020,4.0,2020.0,None,268969,False,3.0,,Anonymous,4.0,3.7,Data Analytics Bootcamp,2020-09-30,Quick dive into data,{'image': None},"Friendly environment with knowledgeable tutor,...",ironhack
12,True,"<span class=""truncatable""><p>I took the Data a...",[],9/25/2020,1.0,2019.0,None,268800,False,4.0,Data analyst,Anonymous,2.0,2.3,Data Analytics Bootcamp,2020-09-25,Not much better than taking an udemy course,{'image': None},I took the Data analyst course. The other stud...,ironhack
13,True,"<span class=""truncatable""><p>I attended Ironha...",[],9/24/2020,5.0,2020.0,None,268746,False,4.0,,Anonymous,5.0,4.7,Web Development Bootcamp,2020-09-24,Great bootcamp to kick-off your technical ramp-up,{'image': None},I attended Ironhack Paris Web Development boot...,ironhack
14,False,"<span class=""truncatable""><p>This has been a v...",[],9/14/2020,5.0,2020.0,None,268442,False,5.0,Full Stack Web Developer,Rafael de Lázaro,5.0,5.0,Web Development Bootcamp,2020-09-14,A challenge that constantly pushes you forward,{'image': None},"This has been a very intense experience, and o...",ironhack
15,False,"<span class=""truncatable""><p></p><p>Yes, the b...",[],9/14/2020,5.0,2020.0,None,268440,False,5.0,Fullstack Web Developer,Lanette,5.0,5.0,,2020-09-14,Intense and life-changing!,{'image': None},"Yes, the bootcamp is challenging. You make lon...",ironhack
16,False,"<span class=""truncatable""><p>I have been a par...",[],9/4/2020,3.0,2020.0,None,268236,False,1.0,Learning and Development Specialist,Irina Buruiana,1.0,1.7,UX/UI Design Part-Time,2020-09-04,Ironhack overpromises your career expectancies,{'image': None},I have been a part time student at Ironhack Be...,ironhack
17,False,"<span class=""truncatable""><p>I was a little bi...",[],9/3/2020,5.0,2020.0,None,268202,False,5.0,Fullstack Web Developer,Francisco Ponce,5.0,5.0,Web Development Bootcamp,2020-09-03,"Immersive, challenging and fast-paced, you won...",{'image': None},I was a little bit reluctant to take the bootc...,ironhack
18,False,"<span class=""truncatable""><p>The cons : Pricy ...",[],9/2/2020,5.0,2020.0,None,268193,False,5.0,Ux/Ui Designer,Aide Ruiz Rebolledo,5.0,5.0,UX/UI Design Bootcamp,2020-09-02,Invest in real education in short time.,{'image': None},The cons : Pricy or expensiveThe pros:Learn to...,ironhack
19,False,"<span class=""truncatable""><p>Ok, lets start wi...",[],9/1/2020,5.0,2020.0,None,268172,False,5.0,Junior Front End Developer,Emmanuel Solano,5.0,5.0,Web Development Bootcamp,2020-09-01,Fast paced and immersive course. You eat and b...,{'image': None},"Ok, lets start with the *Pros:-The fastest way...",ironhack
20,False,"<span class=""truncatable""><p>The most intense ...",[],8/31/2020,5.0,2020.0,None,268130,False,5.0,Full Stack Developer,Diana Odiaka- Obiagwu,5.0,5.0,Web Development Bootcamp,2020-08-31,Empowering!,{'image': None},The most intense 9 weeks of my life that led t...,ironhack
21,False,"<span class=""truncatable""><p>My experience doi...",[],8/30/2020,5.0,2020.0,None,268094,False,4.0,Web Developer,Filipe Freire,4.0,4.3,Web Development Bootcamp,2020-08-30,Life Changing! (Lisbon Campus),{'image': None},My experience doing the Full Time Web Developm...,ironhack
22,False,"<span class=""truncatable""><p>At the beginning,...",[],8/29/2020,5.0,2020.0,None,268049,False,5.0,,Joan Concha,5.0,5.0,Data Analytics Bootcamp,2020-08-29,Wonderful experience,{'image': None},"At the beginning, I wasn't sure about joining ...",ironhack
23,False,"<span class=""truncatable""><p>I got into coding...",[],8/28/2020,5.0,2020.0,None,267977,False,4.0,Junior Software Developer,Chaba Josa,5.0,4.7,Web Development Bootcamp,2020-08-28,Best decision I have ever taken,{'image': None},I got into coding because I thought automating...,ironhack
24,False,"<span class=""truncatable""><p>La principal cara...",[],8/25/2020,5.0,2020.0,None,267864,False,5.0,React Developer,Edgar Arturo Mora Zea,5.0,5.0,Web Development Part-Time,2020-08-25,FullStack Developer,{'image': None},La principal característica a favor es el hora...,ironhack
25,False,"<span class=""truncatable""><p>I'm glad with my ...",[],8/23/2020,5.0,2020.0,None,267742,False,5.0,Web developer,Dionel Elias Panuncia,5.0,5.0,Web Development Bootcamp,2020-08-23,It was tough it wasn't easy but was it worth i...,{'image': None},"I'm glad with my experience in Ironhack, Start...",ironhack
26,True,"<span class=""truncatable""><p></p><p>This bootc...",[],8/20/2020,5.0,2020.0,None,267640,False,3.0,Product Designer,Anonymous,5.0,4.3,,2020-08-20,"Intensive as promised, supportive teachers and...",{'image': None},This bootcamp makes you confident to jump into...,ironhack
27,False,"<span class=""truncatable""><p>I got into the Bo...",[],8/19/2020,4.0,2020.0,None,267597,False,3.0,UX-UI designer,Laura Kaddour-Assia,4.0,3.7,UX/UI Design Bootcamp,2020-08-19,Overwall really good experience,{'image': None},I got into the Bootcamp during the Corona Pand...,ironhack
28,False,"<span class=""truncatable""><p>It's not a walk i...",[],8/19/2020,4.0,2020.0,None,267588,False,5.0,Full Stack Web Developer,Michael Rehnert,5.0,4.7,Web Development Bootcamp,2020-08-19,"Put in the effort, and Ironhack will match you...",{'image': None},"It's not a walk in the park, let me make that ...",ironhack
29,True,"<span class=""truncatable""><p>Overall, I'm happ...",[],8/18/2020,4.0,2020.0,None,267583,False,4.0,,Anonymous,4.0,4.0,Web Development Bootcamp,2020-08-18,Just An Honest Review,{'image': None},"Overall, I'm happy about my experience in Iron...",ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,False,"<span class=""truncatable""><p>I would definitel...",[],7/24/2017,5.0,2017.0,None,236924,True,5.0,Web Designer/UX Designer,Laura Hamrick,5.0,5.0,UX Design,2017-07-24,UX Design Course - Highly Recommend,{'image': None},I would definitely recommend the Springboard U...,springboard
669,False,"<span class=""truncatable""><p>Decided to learn ...",[],7/24/2017,4.0,2016.0,None,236858,True,3.0,UX / UI designer,Ashley Chan,5.0,4.0,UX Design,2017-07-24,Great review on,{'image': None},Decided to learn about UX design in an attempt...,springboard
670,False,"<span class=""truncatable""><p>My experience wit...",[],7/23/2017,5.0,2016.0,None,244756,True,NaN,Principal Program Manager,Sonia,5.0,5.0,None,2017-07-23,Excellent experience with Data Analytics workshop,{'image': None},My experience with Springboard's Data Analytic...,springboard
671,False,"<span class=""truncatable""><p>I signed up for t...",[],7/22/2017,5.0,2017.0,None,241589,True,4.0,None,Aflinn,5.0,4.7,UX Design,2017-07-22,UX Design - Beginners or Refreshers,{'image': None},I signed up for the course for a career change...,springboard
672,False,"<span class=""truncatable""><p>I'm very happy wi...",[],7/22/2017,5.0,2017.0,None,244755,True,NaN,None,AISHA IBRAHIM,5.0,5.0,None,2017-07-22,SPRINGBOARD - Data Analytics for Business,{'image': None},I'm very happy with the Springboard course I r...,springboard
673,False,"<span class=""truncatable""><p>I recently comple...",[],5/16/2017,1.0,2017.0,None,243550,True,1.0,None,Elizabeth,3.0,1.7,Introduction to Data Science,2017-05-16,Foundations of Data Science Review,{'image': None},I recently completed the Foundations of Data S...,springboard
674,False,"<span class=""truncatable""><p>I researched a lo...",[],4/4/2017,5.0,2016.0,None,235572,True,4.0,Student,Anonymous,5.0,4.7,Intermediate Data Science,2017-04-04,The Best Introduction To Data Science,{'image': None},"I researched a lot about the skills needed, th...",springboard
675,False,"<span class=""truncatable""><p>Compared to other...",[],3/24/2017,5.0,2016.0,None,235476,True,5.0,None,Tancy,5.0,5.0,Intermediate Data Science,2017-03-24,I highly recommend it!,{'image': None},Compared to other online data science training...,springboard
676,False,"<span class=""truncatable""><p>Springboard's Dat...",[],3/24/2017,5.0,2017.0,None,235481,True,5.0,Consulting Software Engineer,Landon Barnickle,5.0,5.0,Intermediate Data Science,2017-03-24,Mentor Led Deep Dive into Data Science,{'image': None},Springboard's Data Science Intensive is a grea...,springboard
677,False,"<span class=""truncatable""><p>This course was a...",[],3/24/2017,4.0,2016.0,None,235228,True,4.0,Business Analyst,Anonymous,4.0,4.0,Introduction to Data Science,2017-03-24,Do you got what it takes?,{'image': None},This course was a great and fair step in helpi...,springboard
678,False,"<span class=""truncatable""><p>Hey everyone, I w...",[],3/23/2017,5.0,2016.0,None,235480,True,4.0,Student,Andrew Nguyen,5.0,4.7,UX Design,2017-03-23,UX Design on Fleek!,{'image': None},"Hey everyone, I want to let everyone know that...",springboard
679,False,"<span class=""truncatable""><p>I took this cours...",[],3/23/2017,5.0,NaN,None,235467,False,5.0,None,Anonymous,5.0,5.0,None,2017-03-23,Intensive learing that works with your schedule.,{'image': None},I took this course to help me make data driven...,springboard
680,False,"<span class=""truncatable""><p>I have taken the ...",[],3/23/2017,5.0,2016.0,None,235453,True,5.0,Software engineer,Maneesh Janyavula,5.0,5.0,Intermediate Data Science,2017-03-23,Great Community,{'image': None},I have taken the data science intensive course...,springboard
681,False,"<span class=""truncatable""><p>My experience wit...",[],3/20/2017,5.0,2016.0,None,235422,True,5.0,Consultant,Abby,5.0,5.0,UX Design,2017-03-20,"A very thorough, well guided course",{'image': None},My experience with the UX Design course at Spr...,springboard
682,False,"<span class=""truncatable""><p>I really enjoyed ...",[],3/15/2017,5.0,2016.0,None,233073,True,3.0,None,Riley,5.0,4.3,UX Design,2017-03-15,Great intro to UX design,{'image': None},I really enjoyed the Springboard UX design pro...,springboard
683,False,"<span class=""truncatable""><p>I took the course...",[],3/15/2017,5.0,2017.0,None,244614,True,5.0,None,Lars,5.0,5.0,None,2017-03-15,Fast paced learning made easy!,{'image': None},"I took the course ""data analytics for business...",springboard
684,False,"<span class=""truncatable""><p>I had read variou...",[],12/21/2016,5.0,2016.0,None,233285,True,5.0,None,Mark,5.0,5.0,Introduction to Data Science,2016-12-21,Challenging but rewarding,{'image': None},I had read various articles about data science...,springboard
685,False,"<span class=""truncatable""><p>The real differen...",[],12/21/2016,5.0,2014.0,None,233119,True,4.0,None,Oana Calugar,5.0,4.7,None,2016-12-21,Springboard has dramatically contributed to my...,{'image': None},The real difference with the Springboard cours...,springboard
686,False,"<span class=""truncatable""><p>My prime goal wit...",[],12/21/2016,5.0,2016.0,None,232997,True,NaN,Data Analyst,Shivani S.,5.0,5.0,Introduction to Data Science,2016-12-21,If you want to start excelling at Data Science...,{'image': None},My prime goal with this course was to advance ...,springboard
687,False,"<span class=""truncatable""><p>I participated in...",[],12/20/2016,5.0,2015.0,None,232714,True,5.0,Global Marketing Manager,Tyler Adams,5.0,5.0,Introduction to Data Science,2016-12-20,Springboard UX Design School is one of the bes...,{'image': None},I participated in the UX Design School in Summ...,springboard
688,False,"<span class=""truncatable""><p>The material for ...",[],12/20/2016,4.0,2016.0,None,232671,True,4.0,None,Anonymous,5.0,4.3,Introduction to Data Science,2016-12-20,Excellent Mentorship Component,{'image': None},The material for the Foundations workshop was ...,springboard
689,False,"<span class=""truncatable""><p>I had an educatio...",[],12/19/2016,5.0,2016.0,None,231848,True,5.0,UX/UI designer,Anonymous,5.0,5.0,Introduction to Data Science,2016-12-19,If you are thinking about change - try it!,{'image': None},I had an education in Management &amp; Digital...,springboard
690,False,"<span class=""truncatable""><p>Pros: <br>- Mento...",[],12/18/2016,5.0,2016.0,None,231831,True,NaN,Data Analyst,saleem ahmad,5.0,5.0,Introduction to Data Science,2016-12-18,The best program,{'image': None},Pros: - Mentors who are already working in the...,springboard
691,False,"<span class=""truncatable""><p>The most rewardin...",[],12/16/2016,5.0,2016.0,None,235072,True,4.0,None,Anonymous,5.0,4.7,UX Design,2016-12-16,Great self paced online learning experience,{'image': None},The most rewarding aspect of this course is th...,springboard
692,False,"<span class=""truncatable""><p>My experience wit...",[],12/15/2016,5.0,2016.0,None,234939,True,4.0,None,Jenny N.,5.0,4.7,UX Design,2016-12-15,Fun Program,{'image': None},My experience with Springboard was great. Staf...,springboard
693,False,"<span class=""truncatable""><p>The UX Design Wor...",[],12/15/2016,5.0,2015.0,None,234894,True,5.0,Website Manager-UX Lead,Stephanie S.,5.0,5.0,UX Design,2016-12-15,Excellent and comprehensive UX course,{'image': None},The UX Design Workshop gave me a great underst...,springboard
694,False,"<span class=""truncatable""><p>Just some backgro...",[],12/15/2016,5.0,2015.0,None,234877,True,5.0,UX Designer,Joe Fang,5.0,5.0,UX Design,2016-12-15,Springboard helped me start my career in UX,{'image': None},"Just some background information on myself, I ...",springboard
695,False,"<span class=""truncatable""><p>I enjoyed the pro...",[],12/15/2016,4.0,2016.0,None,234838,True,3.0,Senior Graphic Designer,Zeina,4.0,3.7,UX Design,2016-12-15,Highly recommended,{'image': None},"I enjoyed the program very much, gained a lot ...",springboard
696,False,"<span class=""truncatable""><p>This was my first...",[],12/12/2016,5.0,2016.0,None,242681,True,5.0,Lead Designer/Creative Director,Jean,5.0,5.0,UX Design,2016-12-12,A way to stay current for the highly motivated!,{'image': None},This was my first online experience and it did...,springboard
697,False,"<span class=""truncatable""><p>I really enjoyed ...",[],12/10/2016,5.0,2016.0,None,234178,True,4.0,None,Ben,5.0,4.7,UX Design,2016-12-10,Springboard is an excellent course for self dr...,{'image': None},I really enjoyed my time with the Springboard ...,springboard

In [4]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

<ipython-input-4-ada7bc74fd3a>:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

app-academy
springboard
Udacity
academia-de-codigo
codeworks
school-of-it
le-wagon

In [5]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id description  state.id state.name state.abbrev state.keyword   school  \
 0  15807      Online         1     Online       Online        online  Udacity

    school_id
 0      11118  ,
       id                description  country.id country.name country.abbrev  \
 0  16627           Lisbon, Portugal          28     Portugal             PT
 1  16771            Porto, Portugal          28     Portugal             PT
 2  16798  Terceira Island, Portugal          28     Portugal             PT
 3  16801           Fundao, Portugal          28     Portugal             PT

    city.id        city.name     city.keyword              school  school_id
 0    31075           Lisbon           lisbon  academia-de-codigo      10494
 1    31102            Porto            porto  academia-de-codigo      10494
 2    31161  Terceira Island  terceira-island  academia-de-codigo      10494
 3    31140           Fundao           fundao  academia-de-codigo      10494  ,
       id       description  country.id country.name country.abbrev  city.id  \
 0  16122  Barcelona, Spain        12.0        Spain             ES  31170.0
 1  17049            Online         NaN          NaN            NaN      NaN
 2  17122   Berlin, Germany        57.0      Germany             DE  31156.0
 3  17124       Toronto, ON         2.0       Canada             CA  31152.0
 4  17126   London, England        61.0      England             GB  31176.0

    city.name city.keyword  state.id state.name state.abbrev state.keyword  \
 0  Barcelona    barcelona       NaN        NaN          NaN           NaN
 1        NaN          NaN       1.0     Online       Online        online
 2     Berlin       berlin       NaN        NaN          NaN           NaN
 3    Toronto      toronto       NaN        NaN          NaN           NaN
 4     London       london       NaN        NaN          NaN           NaN

       school  school_id
 0  codeworks      10650
 1  codeworks      10650
 2  codeworks      10650
 3  codeworks      10650
 4  codeworks      10650  ,
       id                 description  country.id    country.name  \
 0  15877     Cape Town, South Africa        17.0    South Africa
 1  17059  Johannesburg, South Africa        17.0    South Africa
 2  17087      Pretoria, South Africa        17.0    South Africa
 3  17107                      Online         NaN             NaN
 4  17274      Amsterdam, Netherlands        59.0     Netherlands
 5  17275         Copenhagen, Denmark        47.0         Denmark
 6  17276                  London, UK        11.0  United Kingdom

   country.abbrev  city.id     city.name  city.keyword  state.id state.name  \
 0             ZA  31100.0     Cape Town     cape-town       NaN        NaN
 1             ZA  31060.0  Johannesburg  johannesburg       NaN        NaN
 2             ZA  31105.0      Pretoria      pretoria       NaN        NaN
 3            NaN      NaN           NaN           NaN       1.0     Online
 4             NL  31168.0     Amsterdam     amsterdam       NaN        NaN
 5             DK  31127.0    Copenhagen    copenhagen       NaN        NaN
 6             GB  31176.0        London        london       NaN        NaN

   state.abbrev state.keyword        school  school_id
 0          NaN           NaN  school-of-it      11006
 1          NaN           NaN  school-of-it      11006
 2          NaN           NaN  school-of-it      11006
 3       Online        online  school-of-it      11006
 4          NaN           NaN  school-of-it      11006
 5          NaN           NaN  school-of-it      11006
 6          NaN           NaN  school-of-it      11006  ,
        id                  description  country.id          country.name  \
 0   15803         Melbourne, Australia          20             Australia
 1   15904          Casablanca, Morocco          44               Morocco
 2   15906      Buenos Aires, Argentina          60             Argentina
 3   15964            Brussels, Belgium          46               Belgium
 4   15979                 Milan, Italy          39                 Italy
 5   15996               Chengdu, China          15                 China
 6   16039          Mexico City, Mexico          29                Mexico
 7   16049       Amsterdam, Netherlands          59           Netherlands
 8   16106            Sao Paulo, Brazil          42                Brazil
 9   16124             Barcelona, Spain          12                 Spain
 10  16145             Bordeaux, France          38                France
 11  16146          Copenhagen, Denmark          47               Denmark
 12  16147                Lille, France          38                France
 13  16148             Lisbon, Portugal          28              Portugal
 14  16149              Bali, Indonesia          35             Indonesia
 15  16150               Nantes, France          38                France
 16  16274      Rio de Janeiro , Brazil          42                Brazil
 17  16275            Marseille, France          38                France
 18  16282             Montreal, Canada           2                Canada
 19  16283              Shanghai, China          15                 China
 20  16307       Belo Horizonte, Brazil          42                Brazil
 21  16407                 Tokyo, Japan          48                 Japan
 22  16408                 Lyon, France          38                France
 23  16478             Tel Aviv, Israel           5                Israel
 24  16570                 Kyoto, Japan          48                 Japan
 25  16765              Berlin, Germany          57               Germany
 26  16767                Paris, France          38                France
 27  16775              Shenzhen, China          15                 China
 28  16776        Lausanne, Switzerland          32           Switzerland
 29  16800                Madrid, Spain          12                 Spain
 30  16804                 Oslo, Norway          52                Norway
 31  16805               Rennes, France          38                France
 32  16936         Singapore, Singapore          56             Singapore
 33  16967              London, England          61               England
 34  16968                  Rome, Italy          39                 Italy
 35  17128            Stockholm, Sweden          37                Sweden
 36  17129                 Seoul, Korea          55           South Korea
 37  17157             Istanbul, Turkey         237                Turkey
 38  17188              Toronto, Canada           2                Canada
 39  17314  Dubai, United Arab Emirates          34  United Arab Emirates
 40  17395              Munich, Germany          57               Germany
 41  17476              Santiago, Chile          22                 Chile

    country.abbrev  city.id        city.name    city.keyword    school  \
 0              AU    31174        Melbourne       melbourne  le-wagon
 1              MA    31119       Casablanca      casablanca  le-wagon
 2              AR    31171     Buenos Aires    buenos-aires  le-wagon
 3              BE    31125         Brussels        brussels  le-wagon
 4              IT    31107            Milan           milan  le-wagon
 5              CN    31126          Chengdu         chengdu  le-wagon
 6              MX    31175      Mexico City     mexico-city  le-wagon
 7              NL    31168        Amsterdam       amsterdam  le-wagon
 8              BR    31121        Sao Paulo       sao-paulo  le-wagon
 9              ES    31170        Barcelona       barcelona  le-wagon
 10             FR    31124         Bordeaux        bordeaux  le-wagon
 11             DK    31127       Copenhagen      copenhagen  le-wagon
 12             FR    31128            Lille           lille  le-wagon
 13             PT    31075           Lisbon          lisbon  le-wagon
 14             ID    31169             Bali            bali  le-wagon
 15             FR    31130           Nantes          nantes  le-wagon
 16             BR    31131  Rio de Janeiro   rio-de-janeiro  le-wagon
 17             FR    31129        Marseille       marseille  le-wagon
 18             CA    31135         Montreal        montreal  le-wagon
 19             CN    31108         Shanghai        shanghai  le-wagon
 20             BR    31123   Belo Horizonte  belo-horizonte  le-wagon
 21             JP    31132            Tokyo           tokyo  le-wagon
 22             FR    31106             Lyon            lyon  le-wagon
 23             IL    31079         Tel Aviv        tel-aviv  le-wagon
 24             JP    31134            Kyoto           kyoto  le-wagon
 25             DE    31156           Berlin          berlin  le-wagon
 26             FR    31136            Paris           paris  le-wagon
 27             CN    31164         Shenzhen        shenzhen  le-wagon
 28             CH    31163         Lausanne        lausanne  le-wagon
 29             ES    31052           Madrid          madrid  le-wagon
 30             NO    31145             Oslo            oslo  le-wagon
 31             FR    31147           Rennes          rennes  le-wagon
 32             SG    31154        Singapore       singapore  le-wagon
 33             GB    31176           London          london  le-wagon
 34             IT    31180             Rome            rome  le-wagon
 35             SE    31109        Stockholm       stockholm  le-wagon
 36             KR    31151            Seoul            seol  le-wagon
 37             TR    31193         Istanbul        istanbul  le-wagon
 38             CA    31152          Toronto         toronto  le-wagon
 39             AE    31093            Dubai           dubai  le-wagon
 40             DE    31158           Munich          munich  le-wagon
 41             CL    31067         Santiago        santiago  le-wagon

     school_id
 0       10868
 1       10868
 2       10868
 3       10868
 4       10868
 5       10868
 6       10868
 7       10868
 8       10868
 9       10868
 10      10868
 11      10868
 12      10868
 13      10868
 14      10868
 15      10868
 16      10868
 17      10868
 18      10868
 19      10868
 20      10868
 21      10868
 22      10868
 23      10868
 24      10868
 25      10868
 26      10868
 27      10868
 28      10868
 29      10868
 30      10868
 31      10868
 32      10868
 33      10868
 34      10868
 35      10868
 36      10868
 37      10868
 38      10868
 39      10868
 40      10868
 41      10868  ]

In [ ]:
locations = pd.concat(locations_list)
locations

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,city.id,city.keyword,city.name,country.abbrev,country.id,country.name,description,id,school,school_id,state.abbrev,state.id,state.keyword,state.name
0,31156.0,berlin,Berlin,DE,57.0,Germany,"Berlin, Germany",15901,ironhack,10828,NaN,NaN,NaN,NaN
1,31175.0,mexico-city,Mexico City,MX,29.0,Mexico,"Mexico City, Mexico",16022,ironhack,10828,NaN,NaN,NaN,NaN
2,31168.0,amsterdam,Amsterdam,NL,59.0,Netherlands,"Amsterdam, Netherlands",16086,ironhack,10828,NaN,NaN,NaN,NaN
3,31121.0,sao-paulo,Sao Paulo,BR,42.0,Brazil,"Sao Paulo, Brazil",16088,ironhack,10828,NaN,NaN,NaN,NaN
4,31136.0,paris,Paris,FR,38.0,France,"Paris, France",16109,ironhack,10828,NaN,NaN,NaN,NaN
5,31.0,miami,Miami,US,1.0,United States,"Miami, FL, United States",16375,ironhack,10828,FL,11.0,florida,Florida
6,31052.0,madrid,Madrid,ES,12.0,Spain,"Madrid, Spain",16376,ironhack,10828,NaN,NaN,NaN,NaN
7,31170.0,barcelona,Barcelona,ES,12.0,Spain,"Barcelona, Spain",16377,ironhack,10828,NaN,NaN,NaN,NaN
8,31075.0,lisbon,Lisbon,PT,28.0,Portugal,"Lisbon, Portugal",16709,ironhack,10828,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,Online,17233,ironhack,10828,Online,1.0,online,Online
0,13.0,san-francisco,San Francisco,US,1.0,United States,"San Francisco, CA, United States",15704,app-academy,10525,CA,6.0,california,California
1,1507.0,new-york-city,NYC,US,1.0,United States,"New York City, NY, United States",15705,app-academy,10525,NY,34.0,new-york,New York
2,NaN,NaN,NaN,NaN,NaN,NaN,Online,15862,app-academy,10525,Online,1.0,online,Online
0,NaN,NaN,NaN,NaN,NaN,NaN,Online,16013,springboard,11035,Online,1.0,online,Online

In [ ]:
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school  school_id
0             Data Analytics Bootcamp     ironhack      10828
1            Data Analytics Part-Time     ironhack      10828
2               UX/UI Design Bootcamp     ironhack      10828
3              UX/UI Design Part-Time     ironhack      10828
4            Web Development Bootcamp     ironhack      10828
5           Web Development Part-Time     ironhack      10828
6             Cyber Security Bootcamp     ironhack      10828
0                       Bootcamp Prep  app-academy      10525
1  Software Engineer Track: In-Person  app-academy      10525
2     Software Engineer Track: Online  app-academy      10525

In [6]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [ ]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="@ndrewUcles1",
                               db="bootcamps"))

In [ ]:

In [12]:
#courses=courses[['courses','school']]
#courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [ ]:
locations_dict={'city.name':'city_name','country.name':'country_name','id':'loc_id'}
locations.rename(columns=locations_dict, inplace=True)

locations=locations[['school','city_name','country_name','loc_id']]
locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 1000,index=False)
locations

In [ ]:
comment_dict = {
'jobSupport':'job_support',
'overall':'overall_rating',
'overallScore':'average_rating',
'queryDate':'query_date',
'jobTitle': 'job_title',
'isAlumni': 'is_alumni',
'graduatingYear':'graduating_year',
'id': 'com_id'}

comments.rename( columns = comment_dict, inplace = True)

comments=comments[['school','job_support','curriculum','overall_rating','average_rating','program','query_date','job_title','is_alumni','graduating_year','com_id']]
comments.to_sql('reviews', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [ ]:
countries_info = pd.read_excel(r'countries_data.xlsx')
countries_info['percentage_growth'] = countries_info['2019']-countries_info['2015']

In [ ]:
countries_info_dict = {
'GEO (Labels)':'Country'}
countries_info.rename( columns = countries_info_dict, inplace = True)
countries_info.to_sql('countries_info', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [ ]:
#large_growth = countries_info[countries_info['2019']-countries_info['2015'] > 0.5 ]
#large_growth

In [ ]:
quality_of_life = pd.read_excel(r'quality_of_life.xlsx')

In [ ]:
quality_of_life.to_sql('quality_of_life', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [ ]:
import pymysql

In [ ]:
connection=pymysql.connect(host='localhost',user='root',password='@ndrewUcles1', db='bootcamps')

my_cursor = connection.cursor()

In [ ]:
query1='create table locations_numbers as select locations.school, round(avg(overall_rating),2) as average_rating, count(distinct locations.loc_id)-1 as no_of_locations from locations left join reviews on locations.school = reviews.school group by locations.school, reviews.school order by avg(overall_rating) desc;'

query2="create table courses_by_ratings as SELECT   CASE     WHEN program LIKE '%Data%'   THEN 'Data Analytics/Science'     WHEN program LIKE '%Web%' THEN 'Web Design/Developmet'     WHEN program LIKE '%UX%' THEN 'UX/UI Design'     when program like '%Software%' then 'Software Engineering'     when program like '%Cyber%' then 'Cyber Security'     when program like '%Blockchain%' then 'Blockchain'   END AS program , round(avg(overall_rating),2) AS average_rating FROM reviews GROUP BY    CASE     WHEN program LIKE '%Data%'   THEN 'Data Analytics/Science'     WHEN program LIKE '%Web%' THEN 'Web Design/Developmet'     WHEN program LIKE '%UX%' THEN 'UX/UI Design'     when program like '%Software%' then 'Software Engineering'     when program like '%Cyber%' then 'Cyber Security'     when program like '%Blockchain%' then 'Blockchain'   END order by average_rating desc;"

query3="create table top_15_cities as select City from quality_of_life inner join countries_info on quality_of_life.Country = countries_info.Country group by quality_of_life.City order by round(avg(countries_info.percentage_growth),2) desc, round(avg(quality_of_life.Ranking),2) asc limit 15;"

In [ ]:
my_cursor.execute(query1)

In [ ]:
my_cursor.execute(query2)

In [ ]:
my_cursor.execute(query3)

In [ ]:
locations_numbers = pd.read_sql_table('locations_numbers', engine) 
courses_by_ratings = pd.read_sql_table('courses_by_ratings', engine)
top_15_cities = pd.read_sql_table('top_15_cities', engine)

In [ ]:
top_15_cities

In [ ]:
courses_by_ratings.dropna(axis = 0, inplace = True)
courses_by_ratings.set_index('program', inplace = True)

In [ ]:
courses_by_ratings.plot.bar()

In [ ]:
import numpy as np
locations_numbers = locations_numbers.replace(0, np.nan)
locations_numbers.dropna(axis = 0, inplace = True)
locations_numbers

In [ ]:
#locations_numbers ['no_of_locations'] = locations_numbers ['no_of_locations'].replace(0, 'Only online')

In [ ]:
correlation_coefficient = locations_numbers['average_rating'].corr(locations_numbers['no_of_locations'])
correlation_coefficient

In [ ]:
countries_info_top = countries_info[countries_info['percentage_growth']>countries_info['percentage_growth'].quantile(0.8)]
countries_info_top.set_index('Country', inplace = True)
countries_info_top.drop('percentage_growth',axis='columns', inplace=True)
countries_info_top = countries_info_top.transpose()

In [ ]:
import matplotlib.pyplot as plt
lines = (countries_info_top/countries_info_top.iloc[0]*100).plot.line(figsize = (15,6))
plt.xlabel("Year")
plt.ylabel("Normalized Percentage of Jobs in Tech")
plt.title('Yearly Growth of Employability in Tech by Country')